In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/students-performance-in-exams/StudentsPerformance.csv

In [3]:
import pandas as pd

csv_path = '/kaggle/input/students-performance-in-exams/StudentsPerformance.csv'  
students_df = pd.read_csv(csv_path)

students_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
#criteria
def passing_status(score):
    return "Pass" if score >= 33 else "Fail"

# using 'math score' column to create the 'math passing status' column
students_df['math passing status'] = students_df['math score'].apply(passing_status)

students_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,math passing status
0,female,group B,bachelor's degree,standard,none,72,72,74,Pass
1,female,group C,some college,standard,completed,69,90,88,Pass
2,female,group B,master's degree,standard,none,90,95,93,Pass
3,male,group A,associate's degree,free/reduced,none,47,57,44,Pass
4,male,group C,some college,standard,none,76,78,75,Pass

In [ ]:
# NOTE: if running this program on local system (not on kaggle website), only then this block will work

# update the data by creating new csv file with new column
updated_csv_path = 'StudentsPerformance_Updated.csv'  # Update the path as needed
students_df.to_csv(updated_csv_path, index=False)

print(f"Updated dataset saved to {updated_csv_path}")